# MkGMap options file for Outabout Swiss Skitouring and Slope30 maps
gmapsupp
gmapi
tdbfile
nsis
route
location-autofill=is_in,nearest
max-jobs
merge-lines
allow-reverse-merge
code-page=1252
remove-ovm-work-files

order-by-decreasing-area
transparent

improve-overview

product-id=10
family-name=Outabout_ski
country-name=Switzerland
